* {
  font-family: "kanit";
}
.movie-list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: white;
}

.movie-box {
  display: flex;
  color: black;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  gap: 20px;
  padding: 15px 15px;
  box-shadow: 0px 4px 40px 0px #917c7c40;
}

img {
  width: 102px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

article {
  display: flex;
  gap: 5px;
  font-size: 1rem;
  font-weight: 400;
  flex-direction: column;
  width: 250px;
}

h1 {
  color: black;
  font-weight: 400;
  font-size: 40px;
}

a {
  display: inline-flex;
  flex-direction: row;
  background-color: #eaac99;
  font-size: 1rem;
  font-weight: 400;
  padding: 3px 10px;
  margin: 0 5px;
  border-radius: 10px;
  text-decoration: none;
}
